@font-face {
	font-family: 'retro';
	src: url('../public/retro.woff') format('opentype');
	font-weight: 400; 
	font-style: normal;
	font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  scroll-behavior: smooth;
  background: #202F53;
  font-family: 'Alatsi', sans-serif;
  color: white;
}